<!DOCTYPE html>
<form method="post" action="/result">
	<input type="number" name="first"/>
	+
	<input type="number" name="second"/>
	<input type="submit"/>
</form>	
<br>
<!--Url 링크-->
<a href="/result/1/1">1+1=?</a>
<!--Get 방식-->
<a href="/result?first=1&second=1">1+1=?</a>